@if (User.IsInRole("Admin"))
{
    <div class="blurredWhite rounded p-2">
        @if (User.IsInRole("Admin") || User.IsInRole("Veterinario"))
        {
            <div>
                <h2 class="text-center mb-3">Veterinario</h2>
                <div class="row row-cols-4 justify-content-around">
                    <div class="col" style="height: 200px">
                        <a class="text-decoration-none" asp-controller="Animale" asp-action="Index">
                            <div id="petsIndex" class="position-relative functionSection">
                                <p class="bg-white fw-bold d-inline-block rounded-3 py-1 px-2 mt-2 ms-2 mb-0">Visualizza animali registrati</p>
                            </div>
                        </a>
                    </div>
                    <div class="col" style="height: 200px">
                        <a class="text-decoration-none" asp-controller="AnimaleSmarrito" asp-action="Index">
                            <div id="ricovero" class="position-relative functionSection">
                                <p class="bg-white fw-bold d-inline-block rounded-3 py-1 px-2 mt-2 ms-2 mb-0">Vai a ricovero</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        }
        @if (User.IsInRole("Admin") || User.IsInRole("Farmacista"))
        {
            <div>
                <h2 class="text-center mb-3">Farmacista</h2>
                <div class="row row-cols-4 justify-content-around">
                    <div class="col" style="height: 200px">
                        <a class="text-decoration-none" asp-controller="Prodotto" asp-action="Create">
                            <div id="createProd" class="position-relative functionSection">
                                <p class="bg-white fw-bold d-inline-block rounded-3 py-1 px-2 mt-2 ms-2 mb-0">Aggiungi un nuovo prodotto</p>
                            </div>
                        </a>
                    </div>
                    <div class="col" style="height: 200px">
                        <a class="text-decoration-none" asp-controller="Dipendente" asp-action="Operazioni">
                            <div id="stats" class="position-relative functionSection">
                                <p class="bg-white fw-bold d-inline-block rounded-3 py-1 px-2 mt-2 ms-2 mb-0">Operazioni</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        }
        <div>
            <h2 class="text-center mb-3">Admin</h2>
            <div class=" row row-cols-4 justify-content-center">
                <div class="col" style="height: 200px">
                    <a class="text-decoration-none" asp-controller="Dipendente" asp-action="Index">
                        <div id="dipendenti" class="position-relative functionSection">
                            <p class="bg-white fw-bold d-inline-block rounded-3 py-1 px-2 mt-2 ms-2 mb-0">Dipendenti</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
}