@model Sanitario.Models.CuraPrescritta

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CuraPrescritta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProdotto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProdotto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Visita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Visita.Esame)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdCuraPrescritta">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
